* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    width: 100%;
}
.navbar {
    box-sizing: border-box;
    background-color: black;
    height: 40px;
    width: 100%;
    position: fixed;
    text-align: end;
    padding: 1vh;
    z-index: 10;
    font-size: 4vh;
}
.container {
    height: auto;
    background-image: linear-gradient(45deg, #7a839b, white);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

.content {
    background-image: url(./photos/background-image.jpg);
    background-size: 80vw 110vh;
    background-origin: content-box;
    height: 100%;
    width: 80vw;
    
}

.nav {
    height: 90vh;
    width: 80vw;
    position: relative;
    background-image: url(./photos/background-image.jpg);
    background-size: cover;
}
.nav h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9vh;
    font-weight: normal;
    text-align: center;
    color:rgb(27, 14, 14);
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: heading;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes heading {
    0% {top: -350px}
    100% {top: 55%}
}
.content ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    z-index: 11;
}

.sticky span {
    padding-bottom: 80px;
}
.content li {
    color: white;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-shrink: 1;
    box-sizing: content-box;
    padding-bottom: 3vw;
}
.sticky {
    position: sticky;
    top: 0;
  }
.box1 {
    background-color: gray;
    height: 100vh;
    display: flex;
}
.box1 h3 {
    padding-top: 2.2em;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 10%;
}
.box1 p {
    font-size: 3vh;
    padding-right: 1vw;
    flex-shrink: 2;

}
.box1 img {
    margin: 40px;
    width: 23vw;
    height: auto;
    object-fit: contain;
    flex-shrink: 0.5;
}
.box2 {
    height: 100vh;
    background-color: #CCB7AE;
}
.box2 h3 {
    padding-top: 4.5vw;
    font-size: 4vh;
    text-align: center;
}
.flexContainer {
    display: flex;
    flex-direction: column;
}
.skull {
    text-align: center;
}
.box2 h2 {
    padding-bottom: 1vw;
    margin-top: 1vw;
}
.box2 p {
    margin-bottom: 2vw;
}
.box2 img {
    width: 30.5%;
    height: auto;
    object-fit: contain;
}
.box2 .real {
    width: 20%;
    height: auto;
}
.box3 {
    height: 100vh;
    background-color: gray;
    display: grid;
    width: 100%;
    grid-template-columns: 10% repeat(3, 26%) 10%;
    grid-template-rows: 20% repeat(2, 35%) 10%;
    justify-items: center;
}
.box3 h3 {
    padding-top: 2.2em;
    font-size: 4vh;
    grid-area: 1/3/2/4;
}
.box3 img {
    width: 205px;
    height: 205px;
    object-fit: cover;
}
.photo1 {
    grid-area: 2/2/3/3;
    z-index: 0.5;
}
.photo2 {
    grid-area: 3/3/4/4; 
}
.photo3 {
    grid-area: 2/3/3/4;
}
.photo4 {
    grid-area: 3/2/4/3;
 }
.photo5 {
    grid-area: 3/4/4/5;
 }
.photo6 {
    grid-area: 2/4/3/5;
}
.overlay {
    position: relative;
    width:auto;
    height: auto;
} 
.overlay p {
    position: absolute;
    display: block;
    width: 100%;
    height: 55px;
    background-color: #411d2e;
    color: white;
    text-align: center;
    opacity: 0;
    left: 0px;
    bottom: 4px;
    transition: opacity 0.3s ease-in-out;
} 
.overlay:hover p {
    opacity: 0.8;
}
.box4 {
    height: 100vh;
    background-color:  #CCB7AE;;
}
.box4 h3 {
    padding-top: 2.5em;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 3%;
}
form {
    text-align: center;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.left {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.right {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 5vh;
}
label {
    margin-bottom: 2.5vh;
    font-size: 22px;
}
[type="text"] {
    width: 30vw;
    height: 6vh;
    margin-bottom: 5vh;
}
input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

textarea {
    min-width: 350px; 
    height: 170px;
    resize: none;
}
textarea::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 1vh;
}
[type="submit"] {
    background-color: gray; 
    border: none;
    border-radius: 50px;
    color:white;
    text-align: center;
    font-size: 17px;
    width: 10vw;
    height: 7vh;
    justify-self: end;
    cursor: pointer;
}
footer {
    background-color: #29141e;
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
}
*:link {
    text-decoration: none;
    color: white;
}
*:visited {
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 1200px) {
        .nav h1 {
            font-size: 45px;
        }
}
@media only screen and (max-width: 1040px) {
    .box3 {
        grid-template-columns: 15% repeat(2, 1fr) 15%;
        grid-template-rows: 10% repeat(3, 1fr) 100px;
        height: fit-content;
    }
    .box3 h3 {
        grid-area: 3/1/4/2;
    }
    .photo1 {
        grid-area: 2/2/3/3;
    }
    .photo2 {
        grid-area: 3/3/4/4; 
    }
    .photo3 {
        grid-area: 2/3/3/4;
    }
    .photo4 {
        grid-area: 3/2/4/3;
     }
    .photo5 {
        grid-area: 4/3/5/4;
     }
    .photo6 {
        grid-area: 4/2/5/3;
    }
}
@media only screen and (max-width: 945px) {
    .nav h1 {
        font-size: 40px;
    }
    .nav li {
        top: -7vh;
    }
    .box1 {
        flex-direction: column-reverse;
        height: fit-content;
    }
    .box1 img {
        width: 230px;
        align-self: center;
    }
    .box1 h3 {
        margin-bottom: 5px;
        padding-top: 7vh;
    }
}
@media only screen and (max-width: 800px) {
    .box3 {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 3% repeat(6, 1fr) 50px;
        height: fit-content;
        gap: 10px;
    }
    .box3 h3 {
        grid-area: 3/1/4/2;
    }
    .box3 img {
        width: 350px;
    }
    .photo1 {
        grid-area: 2/2/3/3;
    }
    .photo2 {
        grid-area: 6/2/7/3; 
    }
    .photo3 {
        grid-area: 5/2/6/3;
    }
    .photo4 {
        grid-area: 3/2/4/3;
     }
    .photo5 {
        grid-area: 7/2/8/3;
     }
    .photo6 {
        grid-area: 4/2/5/3;
    }
    .nav h1 {
        font-size: 35px;
    }
    .nav li {
        top: -6vh;
    }
    .box1 p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 585px) {
    br {
        display: none;
    }
    .nav li {
        font-size: 15px;
        top: -6vh;
    }
    .box1 p {
        font-size: 13px;
    }
    .box1 br {
        display: block;
    }
}
@media only screen and (max-width: 585px) {
    .box1 p {
        font-size: 11px;
    }
    .nav h1 {
        font-size: 30px;
    }
    .sticky li {
        font-size: 20px;
    }
}
